<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>titleFont</key>
	<dict>
		<key>fontName</key>
		<string>Helvetica</string>
		<key>fontSize</key>
		<string>11</string>
	</dict>
	<key>titleColor</key>
	<string>#FF0000</string>
	<key>tintColor</key>
	<string>#00FF00</string>
	<key>navigationBarColor</key>
	<string>#0000FF</string>
	<key>navigationBarOpaque</key>
	<true/>
	<key>listColor</key>
	<string>#FF0000</string>
	<key>refreshTintColor</key>
	<string>#00FF00</string>
	<key>iconsEnabled</key>
	<true/>
	<key>placeholderIcon</key>
	<string>testCake.jpg</string>
	<key>cellTitleFont</key>
	<dict>
		<key>fontName</key>
		<string>Helvetica</string>
		<key>fontSize</key>
		<string>11</string>
	</dict>
	<key>cellDateFont</key>
	<dict>
		<key>fontName</key>
		<string>Helvetica</string>
		<key>fontSize</key>
		<string>11</string>
	</dict>
	<key>cellColor</key>
	<string>#0000FF</string>
	<key>cellHighlightedColor</key>
	<string>#FF0000</string>
	<key>cellTitleColor</key>
	<string>#00FF00</string>
	<key>cellTitleHighlightedColor</key>
	<string>#0000FF</string>
	<key>cellDateColor</key>
	<string>#FF0000</string>
	<key>cellDateHighlightedColor</key>
	<string>#00FF00</string>
	<key>cellSeparatorColor</key>
	<string>#0000FF</string>
	<key>cellTintColor</key>
	<string>#FF0000</string>
	<key>unreadIndicatorColor</key>
	<string>#00FF00</string>
	<key>selectAllButtonTitleColor</key>
	<string>#FF0000</string>
	<key>deleteButtonTitleColor</key>
	<string>#00FF00</string>
	<key>markAsReadButtonTitleColor</key>
	<string>#0000FF</string>
</dict>
</plist>
