<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>refreshTintColor</key>
        <string>#014BFF</string>
        <key>refreshTintColorDark</key>
        <string>#001F9E</string>
        <key>iconsEnabled</key>
        <false/>
        <key>placeholderIcon</key>
        <string>placeholderIcon</string>
        <key>cellTitleFont</key>
        <dict>
            <key>fontName</key>
            <string>cellTitleFont</string>
            <key>fontSize</key>
            <integer>21</integer>
        </dict>
        <key>cellDateFont</key>
        <dict>
            <key>fontName</key>
            <string>cellDateFont</string>
            <key>fontSize</key>
            <integer>14</integer>
        </dict>
        <key>cellColor</key>
        <string>#FDFDFD</string>
        <key>cellColorDark</key>
        <string>#001F9E</string>
        <key>cellTitleColor</key>
        <string>#020202</string>
        <key>cellTitleColorDark</key>
        <string>#FFFFFF</string>
        <key>cellDateColor</key>
        <string>#020202</string>
        <key>cellDateColorDark</key>
        <string>#FFFFFF</string>
        <key>cellSeparatorStyle</key>
        <string>none</string>
        <key>cellSeparatorColor</key>
        <string>#001F9E</string>
        <key>cellSeparatorColorDark</key>
        <string>#014BFF</string>
        <key>cellTintColor</key>
        <string>#014BFF</string>
        <key>cellTintColorDark</key>
        <string>#001F9E</string>
        <key>unreadIndicatorColor</key>
        <string>#014BFF</string>
        <key>unreadIndicatorColorDark</key>
        <string>#001F9E</string>
        <key>selectAllButtonTitleColor</key>
        <string>#020202</string>
        <key>selectAllButtonTitleColorDark</key>
        <string>#FFFFFF</string>
        <key>deleteButtonTitleColor</key>
        <string>#020202</string>
        <key>deleteButtonTitleColorDark</key>
        <string>#FFFFFF</string>
        <key>markAsReadButtonTitleColor</key>
        <string>#014BFF</string>
        <key>markAsReadButtonTitleColorDark</key>
        <string>#001F9E</string>
        <key>hideDeleteButton</key>
        <true/>
        <key>editButtonTitleColor</key>
        <string>#020202</string>
        <key>editButtonTitleColorDark</key>
        <string>#FFFFFF</string>
        <key>cancelButtonTitleColor</key>
        <string>#020202</string>
        <key>cancelButtonTitleColorDark</key>
        <string>#FFFFFF</string>
        <key>backButtonColor</key>
        <string>#014BFF</string>
        <key>backButtonColorDark</key>
        <string>#001F9E</string>
        <key>navigationBarTitle</key>
        <string>Message Center</string>
    </dict>
</plist>
