.DS_Store
*.orig
.hg*
*.mode1v3
*.pbxuser
*.perspective*
distribution_binaries/
distribution_package/
docs/html/
docs/docset/
Debug/
Release/
Distribution/
build/
AirshipLib.h
UANativeBridge.c
xcuserdata/
*.xcworkspace/
AirshipConfig.plist
AirshipDevelopment.plist
fabfile.py*
*.build_output
# Undo files for MacVim 
*.un~
# CoverStory tool script
cover.py
OCMockLibrary
*.swp
Deploy/output
test-output/
