.DS_Store
*.orig
.hg*
*.mode1v3
*.pbxuser
*.perspective*
docs/html/
docs/docset/
Debug/
Release/
Distribution/
build/
Airship/libUAirship-*.a
xcuserdata/
*.xcworkspace/
AirshipConfig.plist
fabfile.pyc
