<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>viewController</key>
        <dict>
            <key>navigationBar</key>
            <dict>       
                <key>title</key>
                <string>Preference Center</string>
                <key>titleFont</key>
                <dict>
                    <key>fontName</key>
                    <string>Helvetica</string>
                    <key>fontSize</key>
                    <string>15</string>
                </dict>
                <key>titleColor</key>
                <string>#0000FF</string>
            </dict>
        </dict>
        <key>preferenceCenter</key>
        <dict>
            <key>subtitleAppearance</key>
            <dict>
            </dict>
        </dict>
        <key>commonSection</key>
        <dict>
            <key>titleAppearance</key>
            <dict>
                <key>color</key>
                <string>#de0000</string>
                <key>font</key>
                <dict>
                    <key>fontName</key>
                    <string>Helvetica</string>
                    <key>fontSize</key>
                    <string>32</string>
                </dict>
            </dict>
            <key>subtitleAppearance</key>
            <dict>
                <key>color</key>
                <string>#da833b</string>
                <key>font</key>
                <dict>
                    <key>fontName</key>
                    <string>Helvetica</string>
                    <key>fontSize</key>
                    <string>25</string>
                </dict>
            </dict>
        </dict>
        <key>labeledSectionBreak</key>
        <dict>
            <key>titleAppearance</key>
            <dict>
            </dict>
        </dict>
        <key>channelSubscription</key>
        <dict>
            <key>titleAppearance</key>
            <dict>
                <key>color</key>
                <string>#034710</string>
                <key>font</key>
                <dict>
                    <key>fontName</key>
                    <string>Helvetica</string>
                    <key>fontSize</key>
                    <string>20</string>
                </dict>
            </dict>
            <key>subtitleAppearance</key>
            <dict>
                <key>color</key>
                <string>#8fe388</string>
                <key>font</key>
                <dict>
                    <key>fontName</key>
                    <string>Helvetica</string>
                    <key>fontSize</key>
                    <string>15</string>
                </dict>
            </dict>
        </dict>
        
        <key>contactSubscription</key>
        <dict>
            <key>titleAppearance</key>
            <dict>
                <key>color</key>
                <string>#034710</string>
                <key>font</key>
                <dict>
                    <key>fontName</key>
                    <string>Helvetica</string>
                    <key>fontSize</key>
                    <string>20</string>
                </dict>
            </dict>
            <key>subtitleAppearance</key>
            <dict>
                <key>color</key>
                <string>#8fe388</string>
                <key>font</key>
                <dict>
                    <key>fontName</key>
                    <string>Helvetica</string>
                    <key>fontSize</key>
                    <string>15</string>
                </dict>
            </dict>
        </dict>
        <key>contactSubscriptionGroup</key>
        <dict>
            <key>titleAppearance</key>
            <dict>
                <key>color</key>
                <string>#034710</string>
                <key>font</key>
                <dict>
                    <key>fontName</key>
                    <string>Helvetica</string>
                    <key>fontSize</key>
                    <string>20</string>
                </dict>
            </dict>
            <key>subtitleAppearance</key>
            <dict>
                <key>color</key>
                <string>#8fe388</string>
                <key>font</key>
                <dict>
                    <key>fontName</key>
                    <string>Helvetica</string>
                    <key>fontSize</key>
                    <string>15</string>
                </dict>
            </dict>
            <key>chip</key>
            <dict>
                <key>checkColor</key>
                <string>#3bd2d6</string>
                <key>borderColor</key>
                <string>#0a0fc9</string>
                <key>labelAppearance</key>
                <dict>
                    <key>color</key>
                    <string>#7c6bea</string>
                    <key>font</key>
                    <dict>
                        <key>fontName</key>
                        <string>Helvetica</string>
                        <key>fontSize</key>
                        <string>15</string>
                    </dict>
                </dict>
            </dict>
        </dict>
        <key>alert</key>
        <dict>
            <key>titleAppearance</key>
            <dict>
                <key>color</key>
                <string>#0a0fc9</string>
                <key>font</key>
                <dict>
                    <key>fontName</key>
                    <string>Helvetica</string>
                    <key>fontSize</key>
                    <string>15</string>
                </dict>
            </dict>
            <key>subtitleAppearance</key>
            <dict>
                <key>color</key>
                <string>#d1b4d4</string>
            </dict>
            <key>buttonLabelAppearance</key>
            <dict>
                <key>color</key>
                <string>#78c8c0</string>
                <key>font</key>
                <dict>
                    <key>fontName</key>
                    <string>Helvetica</string>
                    <key>fontSize</key>
                    <string>25</string>
                </dict>
            </dict>
            <key>buttonBackgroundColor</key>
            <string>#da833b</string>
        </dict>
    </dict>
</plist>