<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Preference Center</string>
	<key>titleColor</key>
	<string>#0000FF</string>
	<key>titleFont</key>
	<dict>
		<key>fontName</key>
		<string>Helvetica</string>
		<key>fontSize</key>
		<string>15</string>
	</dict>
	<key>sectionTitleTextColor</key>
	<string>#de0000</string>
	<key>sectionTitleTextFont</key>
	<dict>
		<key>fontName</key>
		<string>Helvetica</string>
		<key>fontSize</key>
		<string>32</string>
	</dict>
	<key>sectionSubtitleTextColor</key>
	<string>#da833b</string>
	<key>sectionSubtitleTextFont</key>
	<dict>
		<key>fontName</key>
		<string>Helvetica</string>
		<key>fontSize</key>
		<string>25</string>
	</dict>
	<key>preferenceTitleTextColor</key>
	<string>#034710</string>
	<key>preferenceTitleTextFont</key>
	<dict>
		<key>fontName</key>
		<string>Helvetica</string>
		<key>fontSize</key>
		<string>20</string>
	</dict>
	<key>preferenceSubtitleTextColor</key>
	<string>#8fe388</string>
	<key>preferenceSubtitleTextFont</key>
	<dict>
		<key>fontName</key>
		<string>Helvetica</string>
		<key>fontSize</key>
		<string>15</string>
	</dict>
	<key>preferenceChipTextColor</key>
	<string>#7c6bea</string>
	<key>preferenceChipTextFont</key>
	<dict>
		<key>fontName</key>
		<string>Helvetica</string>
		<key>fontSize</key>
		<string>15</string>
	</dict>
	<key>preferenceChipCheckmarkColor</key>
	<string>#0a0fc9</string>
	<key>preferenceChipCheckmarkCheckedBackgroundColor</key>
	<string>#3bd2d6</string>
	<key>preferenceChipBorderColor</key>
	<string>#0a0fc9</string>
	<key>alertTitleColor</key>
	<string>#0a0fc9</string>
	<key>alertTitleFont</key>
	<dict>
		<key>fontName</key>
		<string>Helvetica</string>
		<key>fontSize</key>
		<string>15</string>
	</dict>
	<key>alertSubtitleColor</key>
	<string>#d1b4d4</string>
	<key>alertButtonBackgroundColor</key>
	<string>#da833b</string>
	<key>alertButtonLabelColor</key>
	<string>#78c8c0</string>
	<key>alertButtonLabelFont</key>
	<dict>
		<key>fontName</key>
		<string>Helvetica</string>
		<key>fontSize</key>
		<string>25</string>
	</dict>
</dict>
</plist>