<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>antidotical</string>
	<string>Carboniferous</string>
	<string>tauntingness</string>
	<string>breadearning</string>
	<string>unessential</string>
	<string>obligativeness</string>
	<string>parabotulism</string>
	<string>postclimax</string>
	<string>polyhedron</string>
	<string>unlodge</string>
	<string>Lysiloma</string>
	<string>accomplisher</string>
	<string>indulgence</string>
	<string>anthracitiferous</string>
	<string>polyzooid</string>
	<string>Indra</string>
	<string>thirst</string>
	<string>unmortifiedness</string>
	<string>abjudge</string>
	<string>diallel</string>
	<string>archimpressionist</string>
	<string>benzoylglycine</string>
	<string>misbelief</string>
	<string>frankeniaceous</string>
	<string>Astropectinidae</string>
</array>
</plist>
