<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>urlAllowListScopeOpenURL</key>
	<array>
		<string>*</string>
	</array>
	<key>chatURL</key>
	<string>https://some-chat-url</string>
	<key>requireInitialRemoteConfigEnabled</key>
	<true/>
	<key>developmentAppKey</key>
	<string>   0A00000000000000000000        </string>
	<key>developmentAppSecret</key>
	<string>        0A00000000000000000000        </string>
	<key>developmentLogLevel</key>
	<string>1</string>
	<key>productionAppKey</key>
	<string>  0A00000000000000000000      </string>
	<key>productionAppSecret</key>
	<string>    0A00000000000000000000     </string>
	<key>productionLogLevel</key>
	<string>5</string>
	<key>detectProvisioningMode</key>
	<true/>
	<key>customConfig</key>
	<dict>
		<key>customKey</key>
		<string>customValue</string>
	</dict>
	<key>inProduction</key>
	<true/>
	<key>channelCreationDelayEnabled</key>
	<true/>
	<key>extendedBroadcastsEnabled</key>
	<true/>
	<key>messageCenterStyleConfig</key>
	<string>ValidUAMessageCenterDefaultStyle</string>
	<key>site</key>
	<string>EU</string>
	<key>resetEnabledFeatures</key>
	<true/>
	<key>enabledFeatures</key>
	<array>
		<string>in_app_automation</string>
		<string>push</string>
	</array>
</dict>
</plist>
