<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>urlAllowListScopeOpenURL</key>
	<array>
		<string>*</string>
	</array>
	<key>requireInitialRemoteConfigEnabled</key>
	<true/>
	<key>developmentAppKey</key>
	<string>0A00000000000000000000</string>
	<key>developmentAppSecret</key>
	<string>0A00000000000000000000</string>
	<key>developmentLogLevel</key>
	<integer>1</integer>
	<key>developmentLogPrivacyLevel</key>
	<integer>0</integer>
	<key>productionAppKey</key>
	<string>0A00000000000000000000</string>
	<key>productionAppSecret</key>
	<string>0A00000000000000000000</string>
	<key>productionLogLevel</key>
	<integer>5</integer>
	<key>productionLogPrivacyLevel</key>
	<string>public</string>
	<key>isChannelCreationDelayEnabled</key>
	<true/>
	<key>isExtendedBroadcastsEnabled</key>
	<true/>
	<key>messageCenterStyleConfig</key>
	<string>ValidUAMessageCenterDefaultStyle</string>
	<key>site</key>
	<integer>1</integer>
	<key>resetEnabledFeatures</key>
	<true/>
	<key>inProduction</key>
	<true/>
	<key>enabledFeatures</key>
	<array>
		<string>in_app_automation</string>
		<string>push</string>
	</array>
</dict>
</plist>
