{
	unknownKey = unknownValue;
	developmentAppKey = "0A00000000000000000000";
	developmentAppSecret = "0A00000000000000000000";
	productionAppKey = "0A00000000000000000000";
	productionAppSecret = "0A00000000000000000000";
	"detectProvisioningMode" = YES;
	"channelCreationDelayEnabled" = YES;
	inProduction = YES;
	"messageCenterStyleConfig" = "ValidUAMessageCenterDefaultStyle";
}