<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>refreshTintColor</key>
	<string>#990099</string>
	<key>refreshTintColorDark</key>
	<string>#000001</string>
	<key>iconsEnabled</key>
	<true/>
	<key>placeholderIcon</key>
	<string>placeholderIcon</string>
	<key>cellTitleFont</key>
	<dict>
		<key>fontName</key>
		<string>cellTitleFont</string>
		<key>fontSize</key>
		<string>16</string>
	</dict>
	<key>cellDateFont</key>
	<dict>
		<key>fontName</key>
		<string>cellDateFont</string>
		<key>fontSize</key>
		<integer>14</integer>
	</dict>
	<key>cellColor</key>
	<string>#990099</string>
	<key>cellColorDark</key>
	<string>#000001</string>
	<key>cellTitleColor</key>
	<string>#99009999</string>
	<key>cellTitleColorDark</key>
	<string>#000001</string>
	<key>cellDateColor</key>
	<string>#990099</string>
	<key>cellDateColorDark</key>
	<string>#000001</string>
	<key>cellSeparatorStyle</key>
	<string>none</string>
	<key>cellSeparatorColor</key>
	<string>testNamedColor</string>
	<key>cellSeparatorColorDark</key>
	<string>#000001</string>
	<key>cellTintColor</key>
	<string>#990099</string>
	<key>cellTintColorDark</key>
	<string>#000001</string>
	<key>unreadIndicatorColor</key>
	<string>#990099</string>
	<key>unreadIndicatorColorDark</key>
	<string>#000001</string>
	<key>selectAllButtonTitleColor</key>
	<string>#990099</string>
	<key>selectAllButtonTitleColorDark</key>
	<string>#000001</string>
	<key>deleteButtonTitleColor</key>
	<string>#990099</string>
	<key>deleteButtonTitleColorDark</key>
	<string>#000001</string>
	<key>markAsReadButtonTitleColor</key>
	<string>#990099</string>
	<key>markAsReadButtonTitleColorDark</key>
	<string>#000001</string>
	<key>hideDeleteButton</key>
	<true/>
	<key>editButtonTitleColor</key>
	<string>#990099</string>
	<key>editButtonTitleColorDark</key>
	<string>#000001</string>
	<key>cancelButtonTitleColor</key>
	<string>#990099</string>
	<key>cancelButtonTitleColorDark</key>
	<string>#000001</string>
	<key>backButtonColor</key>
	<string>#990099</string>
	<key>backButtonColorDark</key>
	<string>#000001</string>
	<key>navigationBarTitle</key>
	<string>Test Navigation Bar Title</string>
</dict>
</plist>
