<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accept_later_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Accept</string>
			<key>title_resource</key>
			<string>bma4s_button_accept</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Later</string>
			<key>title_resource</key>
			<string>bma4s_button_later</string>
		</dict>
	</array>
	<key>smiley_like_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>👍🏼</string>
			<key>title_resource</key>
			<string>bma4s_button_smiley_like</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>👎🏼</string>
			<key>title_resource</key>
			<string>bma4s_button_smiley_dislike</string>
		</dict>
	</array>
	<key>smiley_happy_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>😃</string>
			<key>title_resource</key>
			<string>bma4s_button_smiley_happy</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>😟</string>
			<key>title_resource</key>
			<string>bma4s_button_smiley_unhappy</string>
		</dict>
	</array>
	<key>yes_no_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Yes</string>
			<key>title_resource</key>
			<string>bma4s_button_yes</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>No</string>
			<key>title_resource</key>
			<string>bma4s_button_no</string>
		</dict>
	</array>
	<key>yes_later_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Yes</string>
			<key>title_resource</key>
			<string>bma4s_button_yes</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Later</string>
			<key>title_resource</key>
			<string>bma4s_button_later</string>
		</dict>
	</array>
	<key>accept_decline_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Accept</string>
			<key>title_resource</key>
			<string>bma4s_button_accept</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Decline</string>
			<key>title_resource</key>
			<string>bma4s_button_decline</string>
		</dict>
	</array>
	<key>agree_disagree_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>I agree</string>
			<key>title_resource</key>
			<string>bma4s_button_agree</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>I disagree</string>
			<key>title_resource</key>
			<string>bma4s_button_disagree</string>
		</dict>
	</array>
	<key>satisfied_unsatisfied_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Satisfied</string>
			<key>title_resource</key>
			<string>bma4s_button_satisfied</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Unsatisfied</string>
			<key>title_resource</key>
			<string>bma4s_button_not_satisfied</string>
		</dict>
	</array>
	<key>buy_later_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Buy now</string>
			<key>title_resource</key>
			<string>bma4s_button_buy_now</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Later</string>
			<key>title_resource</key>
			<string>bma4s_button_later</string>
		</dict>
	</array>
	<key>aterater_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Show me</string>
			<key>title_resource</key>
			<string>bma4s_button_show_article</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Later</string>
			<key>title_resource</key>
			<string>bma4s_button_later</string>
		</dict>
	</array>
	<key>share_later_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Share</string>
			<key>title_resource</key>
			<string>bma4s_button_share</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Later</string>
			<key>title_resource</key>
			<string>bma4s_button_later</string>
		</dict>
	</array>
	<key>favorite_later_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Add to wishlist</string>
			<key>title_resource</key>
			<string>bma4s_button_add_wishlist</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Later</string>
			<key>title_resource</key>
			<string>bma4s_button_later</string>
		</dict>
	</array>
	<key>offer_share_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Show offer</string>
			<key>title_resource</key>
			<string>bma4s_button_show_offer</string>
		</dict>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Share</string>
			<key>title_resource</key>
			<string>bma4s_button_share_bg</string>
		</dict>
	</array>
	<key>deal_later_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Show the deal</string>
			<key>title_resource</key>
			<string>bma4s_button_show_deal</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Later</string>
			<key>title_resource</key>
			<string>bma4s_button_later</string>
		</dict>
	</array>
	<key>enjoy_nothanks_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Enjoy now</string>
			<key>title_resource</key>
			<string>bma4s_button_enjoy_now</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>No thanks</string>
			<key>title_resource</key>
			<string>bma4s_button_no_thanks</string>
		</dict>
	</array>
	<key>addcart_nothanks_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Add to cart</string>
			<key>title_resource</key>
			<string>bma4s_button_add_to_cart</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>No thanks</string>
			<key>title_resource</key>
			<string>bma4s_button_no_thanks</string>
		</dict>
	</array>
	<key>showcart_later_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Show cart</string>
			<key>title_resource</key>
			<string>bma4s_button_go_to_basket</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Later</string>
			<key>title_resource</key>
			<string>bma4s_button_later</string>
		</dict>
	</array>
	<key>showbooking_later_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Access booking</string>
			<key>title_resource</key>
			<string>bma4s_button_access_booking</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Later</string>
			<key>title_resource</key>
			<string>bma4s_button_later</string>
		</dict>
	</array>
	<key>showticket_later_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Access details</string>
			<key>title_resource</key>
			<string>bma4s_button_access_details</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Later</string>
			<key>title_resource</key>
			<string>bma4s_button_later</string>
		</dict>
	</array>
	<key>man_woman_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Man</string>
			<key>title_resource</key>
			<string>bma4s_button_man</string>
		</dict>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Woman</string>
			<key>title_resource</key>
			<string>bma4s_button_woman</string>
		</dict>
	</array>
	<key>show_close_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Show me</string>
			<key>title_resource</key>
			<string>bma4s_button_show_me</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Close</string>
			<key>title_resource</key>
			<string>bma4s_button_close</string>
		</dict>
	</array>
	<key>share_nothanks_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Share</string>
			<key>title_resource</key>
			<string>bma4s_button_share</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>No thanks</string>
			<key>title_resource</key>
			<string>bma4s_button_no_thanks</string>
		</dict>
	</array>
	<key>open_close_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Open</string>
			<key>title_resource</key>
			<string>bma4s_button_open</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Close</string>
			<key>title_resource</key>
			<string>bma4s_button_close</string>
		</dict>
	</array>
	<key>like_later_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Like</string>
			<key>title_resource</key>
			<string>bma4s_button_like</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Later</string>
			<key>title_resource</key>
			<string>bma4s_button_later</string>
		</dict>
	</array>
	<key>like_dislike_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Like</string>
			<key>title_resource</key>
			<string>bma4s_button_like</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Dislike</string>
			<key>title_resource</key>
			<string>bma4s_button_dislike</string>
		</dict>
	</array>
	<key>subscribe_nothanks_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Subscribe</string>
			<key>title_resource</key>
			<string>bma4s_button_subscribe</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>No thanks</string>
			<key>title_resource</key>
			<string>bma4s_button_no_thanks</string>
		</dict>
	</array>
	<key>register_cancel_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Subscribe</string>
			<key>title_resource</key>
			<string>bma4s_button_register</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Cancel</string>
			<key>title_resource</key>
			<string>bma4s_button_cancel</string>
		</dict>
	</array>
	<key>login_close_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Login</string>
			<key>title_resource</key>
			<string>bma4s_button_login</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Close</string>
			<key>title_resource</key>
			<string>bma4s_button_close</string>
		</dict>
	</array>
	<key>createaccount_close_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Create an account</string>
			<key>title_resource</key>
			<string>bma4s_button_create_account</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Close</string>
			<key>title_resource</key>
			<string>bma4s_button_close</string>
		</dict>
	</array>
	<key>getmore_getless_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Get more</string>
			<key>title_resource</key>
			<string>bma4s_button_get_more</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Get less</string>
			<key>title_resource</key>
			<string>bma4s_button_get_less</string>
		</dict>
	</array>
	<key>getmore_no_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Get more</string>
			<key>title_resource</key>
			<string>bma4s_button_get_more</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>No</string>
			<key>title_resource</key>
			<string>bma4s_button_no</string>
		</dict>
	</array>
	<key>call_later_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Call</string>
			<key>title_resource</key>
			<string>bma4s_button_call</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Later</string>
			<key>title_resource</key>
			<string>bma4s_button_later</string>
		</dict>
	</array>
	<key>addcalendar_close_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Add to calendar</string>
			<key>title_resource</key>
			<string>bma4s_button_add_calendar</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Close</string>
			<key>title_resource</key>
			<string>bma4s_button_close</string>
		</dict>
	</array>
	<key>answer_close_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Answer it</string>
			<key>title_resource</key>
			<string>bma4s_button_answer</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Close</string>
			<key>title_resource</key>
			<string>bma4s_button_close</string>
		</dict>
	</array>
	<key>takepart_close_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Take part</string>
			<key>title_resource</key>
			<string>bma4s_button_take_part</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Close</string>
			<key>title_resource</key>
			<string>bma4s_button_close</string>
		</dict>
	</array>
	<key>givefeedback_nothanks_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Give a feedback</string>
			<key>title_resource</key>
			<string>bma4s_button_give_feedback</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>No thanks</string>
			<key>title_resource</key>
			<string>bma4s_button_no_thanks</string>
		</dict>
	</array>
	<key>rate_later_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Rate the app</string>
			<key>title_resource</key>
			<string>bma4s_button_rate_app</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Later</string>
			<key>title_resource</key>
			<string>bma4s_button_later</string>
		</dict>
	</array>
	<key>havefeedback_later_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>I have a feedback</string>
			<key>title_resource</key>
			<string>bma4s_button_have_feedback</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Later</string>
			<key>title_resource</key>
			<string>bma4s_button_close</string>
		</dict>
	</array>
	<key>seemore_close_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>See more</string>
			<key>title_resource</key>
			<string>bma4s_button_see_more</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Close</string>
			<key>title_resource</key>
			<string>bma4s_button_close</string>
		</dict>
	</array>
	<key>search_close_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Search</string>
			<key>title_resource</key>
			<string>bma4s_button_search</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Close</string>
			<key>title_resource</key>
			<string>bma4s_button_close</string>
		</dict>
	</array>
	<key>find_close_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Find</string>
			<key>title_resource</key>
			<string>bma4s_button_find</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Close</string>
			<key>title_resource</key>
			<string>bma4s_button_close</string>
		</dict>
	</array>
	<key>read_close_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Read</string>
			<key>title_resource</key>
			<string>bma4s_button_read</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Close</string>
			<key>title_resource</key>
			<string>bma4s_button_close</string>
		</dict>
	</array>
	<key>letsgo_close_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Let&apos;s go</string>
			<key>title_resource</key>
			<string>bma4s_button_lets_go</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Close</string>
			<key>title_resource</key>
			<string>bma4s_button_close</string>
		</dict>
	</array>
	<key>imin_nothanks_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>I&apos;m in</string>
			<key>title_resource</key>
			<string>bma4s_button_im_in</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>No thanks</string>
			<key>title_resource</key>
			<string>bma4s_button_no_thanks</string>
		</dict>
	</array>
	<key>happy_unhappy_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>😃</string>
			<key>title_resource</key>
			<string>bma4s_button_smiley_happy</string>
		</dict>
		<dict>
			<key>foreground</key>
			<false/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>😟</string>
			<key>title_resource</key>
			<string>bma4s_button_smiley_unhappy</string>
		</dict>
	</array>
	<key>show_share_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Show me</string>
			<key>title_resource</key>
			<string>bma4s_button_show_article</string>
		</dict>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>2</string>
			<key>title</key>
			<string>Share</string>
			<key>title_resource</key>
			<string>bma4s_button_share_bg</string>
		</dict>
	</array>
	<key>acc_carousel_category</key>
	<array>
		<dict>
			<key>foreground</key>
			<true/>
			<key>identifier</key>
			<string>1</string>
			<key>title</key>
			<string>Go to app</string>
			<key>title_resource</key>
			<string>bma4s_button_go_to_app</string>
		</dict>
	</array>
	<key>acc_dismiss_track</key>
	<array/>
</dict>
</plist>
