{
	productionLogLevel = 5;
	unknownKey = unknownValue;
	developmentAppKey = "   0A00000000000000000000        ";
	developmentAppSecret = "        0A00000000000000000000        ";
	productionAppKey = "  0A00000000000000000000      ";
	productionAppSecret = "    0A00000000000000000000     ";
	developmentLogLevel = 1;
	inProduction = YES;
	"detectProvisioningMode" = YES;
	"channelCreationDelayEnabled" = YES;
	"messageCenterStyleConfig" = "ValidUAMessageCenterDefaultStyle";
}