<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>developmentAppKey</key>
	<string>   0A00000000000000000000        </string>
	<key>developmentAppSecret</key>
	<string>        0A00000000000000000000        </string>
	<key>developmentLogLevel</key>
	<string>1</string>
	<key>productionAppKey</key>
	<string>  0A00000000000000000000      </string>
	<key>productionAppSecret</key>
	<string>    0A00000000000000000000     </string>
	<key>productionLogLevel</key>
	<string>5</string>
	<key>detectProvisioningMode</key>
	<true/>
	<key>channelCreationDelayEnabled</key>
	<true/>
	<key>customConfig</key>
	<dict>
		<key>customKey</key>
		<string>customValue</string>
	</dict>
	<key>messageCenterStyleConfig</key>
	<string>ValidUAMessageCenterDefaultStyle</string>
</dict>
</plist>
