<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description of this file</key>
	<string>This is an invalid style plist that assigns different types and values to each key</string>
	<key>titleFont</key>
	<array>
		<string>Roboto-Regular</string>
		<string>17</string>
	</array>
	<key>titleColor</key>
	<integer>0</integer>
	<key>tintColor</key>
	<integer>0</integer>
	<key>navigationBarColor</key>
	<real>0</real>
	<key>navigationBarOpaque</key>
	<string>&quot;Howdy&quot;</string>
	<key>listColor</key>
	<false/>
	<key>refreshTintColor</key>
	<data></data>
	<key>iconsEnabled</key>
	<false/>
	<key>placeholderIcon</key>
	<string></string>
	<key>cellTitleFont</key>
	<dict>
		<key>fontName</key>
		<array/>
		<key>fontSize</key>
		<integer>13</integer>
	</dict>
	<key>cellDateFont</key>
	<false/>
	<key>cellColor</key>
	<false/>
	<key>cellHighlightedColor</key>
	<data>MjAxNi0wNC0xOFQxNjozMToyNFo=</data>
	<key>cellTitleColor</key>
	<date>2016-04-18T16:31:42Z</date>
	<key>cellTitleHighlightedColor</key>
	<integer>0</integer>
	<key>cellDateColor</key>
	<string></string>
	<key>cellDateHighlightedColor</key>
	<dict/>
	<key>cellSeparatorColor</key>
	<string>#eaaa00</string>
	<key>cellTintColor</key>
	<string>&quot;nope&quot;</string>
	<key>unreadIndicatorColor</key>
	<string>35</string>
</dict>
</plist>
