<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>additionalPadding</key>
	<dict>
		<key>top</key>
		<integer>1</integer>
		<key>bottom</key>
		<integer>2</integer>
		<key>leading</key>
		<integer>3</integer>
		<key>trailing</key>
		<integer>4</integer>
	</dict>
	<key>maxWidth</key>
	<integer>26</integer>
	<key>tapOpacity</key>
	<real>0.11</real>
	<key>headerStyle</key>
	<dict>
		<key>letterSpacing</key>
		<integer>5</integer>
		<key>lineSpacing</key>
		<integer>6</integer>
		<key>additionalPadding</key>
		<dict>
			<key>top</key>
			<integer>7</integer>
			<key>bottom</key>
			<integer>8</integer>
			<key>leading</key>
			<integer>9</integer>
			<key>trailing</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>bodyStyle</key>
	<dict>
		<key>letterSpacing</key>
		<integer>11</integer>
		<key>lineSpacing</key>
		<integer>12</integer>
		<key>additionalPadding</key>
		<dict>
			<key>top</key>
			<integer>13</integer>
			<key>bottom</key>
			<integer>14</integer>
			<key>leading</key>
			<integer>15</integer>
			<key>trailing</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>mediaStyle</key>
	<dict>
		<key>additionalPadding</key>
		<dict>
			<key>top</key>
			<integer>17</integer>
			<key>bottom</key>
			<integer>18</integer>
			<key>leading</key>
			<integer>19</integer>
			<key>trailing</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>buttonStyle</key>
	<dict>
		<key>buttonHeight</key>
		<integer>21</integer>
		<key>additionalPadding</key>
		<dict>
			<key>top</key>
			<integer>22</integer>
			<key>bottom</key>
			<integer>23</integer>
			<key>leading</key>
			<integer>24</integer>
			<key>trailing</key>
			<integer>25</integer>
		</dict>
	</dict>
	<key>shadowStyle</key>
	<dict>
		<key>colorHex</key>
		<string>009900</string>
		<key>radius</key>
		<integer>10</integer>
		<key>xOffset</key>
		<integer>10</integer>
		<key>yOffset</key>
		<integer>10</integer>
	</dict>
</dict>
</plist>
