<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>names</key>
		<array>
			<string>open_external_url_action</string>
			<string>^u</string>
		</array>
		<key>action</key>
		<string>UAOpenExternalURLAction</string>
		<key>predicate</key>
		<string>UAURLActionPredicate</string>
	</dict>
	<dict>
		<key>names</key>
		<array>
			<string>add_tags_action</string>
			<string>^+t</string>
		</array>
		<key>action</key>
		<string>UAAddTagsAction</string>
		<key>predicate</key>
		<string>UATagsActionPredicate</string>
	</dict>
	<dict>
		<key>names</key>
		<array>
			<string>remove_tags_action</string>
			<string>^-t</string>
		</array>
		<key>action</key>
		<string>UARemoveTagsAction</string>
		<key>predicate</key>
		<string>UATagsActionPredicate</string>
	</dict>
	<dict>
		<key>names</key>
		<array>
			<string>deep_link_action</string>
			<string>^d</string>
		</array>
		<key>action</key>
		<string>UADeepLinkAction</string>
		<key>predicate</key>
		<string>UAURLActionPredicate</string>
	</dict>
	<dict>
		<key>names</key>
		<array>
			<string>add_custom_event_action</string>
		</array>
		<key>action</key>
		<string>UAAddCustomEventAction</string>
		<key>predicate</key>
		<string>UAAddCustomEventActionPredicate</string>
	</dict>
	<dict>
		<key>names</key>
		<array>
			<string>fetch_device_info</string>
			<string>^fdi</string>
		</array>
		<key>action</key>
		<string>UAFetchDeviceInfoAction</string>
		<key>predicate</key>
		<string>UAFetchDeviceInfoActionPredicate</string>
	</dict>
	<dict>
		<key>names</key>
		<array>
			<string>enable_feature</string>
			<string>^ef</string>
		</array>
		<key>action</key>
		<string>UAEnableFeatureAction</string>
		<key>predicate</key>
		<string>UAEnableFeatureActionPredicate</string>
	</dict>
	<dict>
		<key>names</key>
		<array>
			<string>modify_attributes_action</string>
			<string>^a</string>
		</array>
		<key>action</key>
		<string>UAModifyAttributesAction</string>
		<key>predicate</key>
		<string>UAAttributesActionPredicate</string>
	</dict>
	<dict>
		<key>names</key>
		<array>
			<string>subscription_list_action</string>
			<string>^sla</string>
		</array>
		<key>action</key>
		<string>UASubscriptionListAction</string>
		<key>predicate</key>
		<string>UASubscriptionListActionPredicate</string>
	</dict>
</array>
</plist>
