name: CI Pull Request

on: [pull_request]

env:
  BUNDLE_PATH: vendor/bundle

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-tests-core:
    runs-on: macos-14-xlarge
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - name: Install yeetd
        run: |
          wget https://github.com/biscuitehh/yeetd/releases/download/1.0/yeetd-normal.pkg
          sudo installer -pkg yeetd-normal.pkg -target /
          yeetd &
      - name: Test
        run: make test-core

  run-tests-message-center:
    runs-on: macos-14-xlarge
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - name: Install yeetd
        run: |
          wget https://github.com/biscuitehh/yeetd/releases/download/1.0/yeetd-normal.pkg
          sudo installer -pkg yeetd-normal.pkg -target /
          yeetd &
      - name: Test
        run: make test-message-center

  run-tests-preference-center:
    runs-on: macos-14-xlarge
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - name: Install yeetd
        run: |
          wget https://github.com/biscuitehh/yeetd/releases/download/1.0/yeetd-normal.pkg
          sudo installer -pkg yeetd-normal.pkg -target /
          yeetd &
      - name: Test
        run: make test-preference-center

  run-tests-feature-flags:
    runs-on: macos-14-xlarge
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - name: Install yeetd
        run: |
          wget https://github.com/biscuitehh/yeetd/releases/download/1.0/yeetd-normal.pkg
          sudo installer -pkg yeetd-normal.pkg -target /
          yeetd &
      - name: Test
        run: make test-feature-flags

  run-tests-automation:
    runs-on: macos-14-xlarge
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - name: Install yeetd
        run: |
          wget https://github.com/biscuitehh/yeetd/releases/download/1.0/yeetd-normal.pkg
          sudo installer -pkg yeetd-normal.pkg -target /
          yeetd &
      - name: Test
        run: make test-automation

  run-tests-extensions:
    runs-on: macos-14-xlarge
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - name: Install yeetd
        run: |
          wget https://github.com/biscuitehh/yeetd/releases/download/1.0/yeetd-normal.pkg
          sudo installer -pkg yeetd-normal.pkg -target /
          yeetd &
      - name: Test
        run: make test-content-extension test-service-extension

  run-package-tests:
    runs-on: macos-14-xlarge
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - name: Install xcodegen
        run: brew install xcodegen
      - name: Test
        run: make test-packages

  build-samples:
    runs-on: macos-14-xlarge
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - name: Build samples
        run: make build-samples
      

  # run-tests-watchos:
  #   runs-on: macos-14-xlarge
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: ruby/setup-ruby@v1
  #       with:
  #         bundler-cache: true
  #     - name: Install xcodegen
  #       run: brew install xcodegen
  #     - name: Install Apple Certificate
  #       uses: apple-actions/import-codesign-certs@v1
  #       with:
  #         p12-file-base64: ${{ secrets.CERTIFICATE_P12_BASE64 }}
  #         p12-password: ${{ secrets.CERTIFICATE_P12_PASSWORD }}
  #     - name: Install the provisioning profile
  #       env:
  #         PROVISIONING_APP_BASE64: ${{ secrets.PROVISIONING_PROFILE_APP_BASE64 }}
  #         PROVISIONING_EXT_BASE64: ${{ secrets.PROVISIONING_PROFILE_EXT_BASE64 }}
  #       run: |
  #         PP_APP_PATH=$RUNNER_TEMP/wkapp_prof.mobileprovision
  #         PP_EXT_PATH=$RUNNER_TEMP/wkext_prof.mobileprovision

  #         echo -n "$PROVISIONING_APP_BASE64" | base64 --decode > $PP_APP_PATH
  #         echo -n "$PROVISIONING_EXT_BASE64" | base64 --decode > $PP_EXT_PATH

  #         mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
  #         cp $PP_APP_PATH ~/Library/MobileDevice/Provisioning\ Profiles
  #         cp $PP_EXT_PATH ~/Library/MobileDevice/Provisioning\ Profiles
  #     - name: Test
  #       run: make build-sample-watchos
        
  pod-lib-lint-watchos:
    runs-on: macos-14-xlarge
    steps:
      - uses: actions/checkout@v4
      - name: Pod lint
        run: make pod-lint-watchos
        
  pod-lib-lint-tvos:
    runs-on: macos-14-xlarge
    steps:
      - uses: actions/checkout@v4
      - name: Pod lint
        run: make pod-lint-tvos

  pod-lib-lint-ios:
    runs-on: macos-14-xlarge
    steps:
      - uses: actions/checkout@v4
      - name: Pod lint
        run: make pod-lint-ios

  pod-lib-lint-extensions:
    runs-on: macos-14-xlarge
    steps:
      - uses: actions/checkout@v4
      - name: Pod lint
        run: make pod-lint-extensions

  # pod-lib-lint-visonos:
  #   runs-on: macos-14-xlarge
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: Pod lint
  #       run: make pod-lint-visionos
