<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>titleColor</key>
	<string>#FFFFFF</string>
	<key>tintColor</key>
	<string>#004BFF</string>
	<key>navigationBarColor</key>
	<string>#000000</string>
	<key>iconsEnabled</key>
	<true/>
	<key>navigationBarOpaque</key>
	<true/>
	<key>navigationBarStyle</key>
	<string>black</string>
	<key>cellTitleFont</key>
	<dict>
		<key>fontName</key>
		<string>ChalkboardSE-Bold</string>
		<key>fontSize</key>
		<string>13</string>
	</dict>
	<key>cellDateFont</key>
	<dict>
		<key>fontName</key>
		<string>ChalkboardSE-Regular</string>
		<key>fontSize</key>
		<string>17</string>
	</dict>
    <key>cellTitleColor</key>
    <string>#770000</string>
    <key>cellDateColor</key>
    <string>#007700</string>
</dict>
</plist>
